body{
  text-align: center;
}

#h1{
  color: rgb(27, 7, 180);
  font-weight: 900;
  font-size: xx-large;
}

#btn{
  background-color: rgb(212, 233, 233);
  color: black;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  font-size: xx-large;
  padding: 15px;
  margin: 10px;
}